 <mat-sidenav-container>

  <!-- Sidenav déclenché par la variable template #sidenav -->
  <mat-sidenav #sidenav mode="side">

    <!-- Menu généré dynamiquement depuis listMenu (déclaré dans app.component.ts) -->
    <!-- listMenu = routes (déclaré dans app.routes.ts avec data.isMenu) -->
    <mat-nav-list>
      @for (item of listMenu; track item.path) {
        @if (item.data && item.data['isMenu']) {
          <a mat-list-item [routerLink]="item.path">
            {{ item.title }}
          </a>
        }
      }
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex flex-col h-screen">

      <!-- Toolbar fixe en haut -->
      <div id="div-toolbar">
        <mat-toolbar>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span style="color:rgb(27, 67, 131)">
            <strong>{{ title }}</strong>
          </span>
        </mat-toolbar>
      </div>

      <!-- Zone de contenu principale -->
      <div id="div-router" class="flex-1">
        <router-outlet />
      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<router-outlet />
